body{
	background: DimGrey url(images/Midgard.jpg);
	background-repeat: round;
	background-size: 4000px;
	background-attachment: fixed;
}

.main_field{
    display: grid;
    grid-template-columns: 300px 190px 120px 80px 370px 150px ;
    grid-template-rows: 45px 20px 270px 140px 300px;
    grid-gap: 10px;
}

canvas{
	top: 8px;
	border: 3px solid red;
}

#map{
	grid-column: 1;
    grid-row: 1/5;
	background:#E6AB3C;

}

#map2{
	grid-column: 1;
    grid-row: 1/5;
	cursor:pointer;
}


.start{
	grid-column: 5/8;
    grid-row: 1;
}

.buttons{
	display: grid;
	grid-template-columns: 200px 200px;
    grid-template-rows: 100px  100px;
	grid-gap: 20px;
	grid-column: 4/6;
    grid-row: 3;
}


button{
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}


.generate_maze{
	color: #BA55D3;
	background: #FFEFD5;
	border: 3px solid #E6E6FA;
	height: 30px;
}

.generate_maze:active {      
  background-color: rgb(245, 237, 237);  
  box-shadow: 0 1px "rgb(245, 237, 237)";     
  transform: translateY(3px);  
}



input[type="number"]{
	border: 1px solid red;
	border-radius: 5px;
	background: #fff0f5 !important;
	outline: none;
	height: 30px;
	width: 160px;
	font-size: 14px;
	font-family : Impact;
}

label{
	font-size: 22px;
}


.select_type_button{
	height:100px;
    width:200px;
	outline: none;	
	border: none;
	border-radius: 12px;   
	font-family : Impact;	
	color: black;  
	font-size: 24px;  	
}

.select_type_button:active{
	transform: translateY(5px);  
}

#button_start{
	grid-column: 1;
    grid-row: 1;
	background:#FF69B4;  	
}

#button_start:hover {
	background:#DB7093;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #FFB6C1, 0 17px 50px 0 #FFB6C1; 
}

#button_start:active {      
  background-color: #FFB6C1;  
  box-shadow: 0 5px #FFB6C1;     
}

#button_finish{  
	grid-column: 2;
    grid-row: 1;
	
	background:#FA807A; 
}

#button_finish:hover {
	background:#FFA07A;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #FFA07A, 0 17px 50px 0 #FFA07A; 
}

#button_finish:active {      
  background-color: #FFA07A;  
  box-shadow: 0 5px #FFA07A;      
}

#button_clear{ 
	grid-column: 1;
    grid-row: 2;
	background:#FF7F50; 
}

#button_clear:hover {
	background:#FF6347;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #FF7F50, 0 17px 50px 0 #FF7F50; 
}

#button_clear:active {      
  background-color: #FFB6C1;  
  box-shadow: 0 5px #FFB6C1;     
}

#button_stop{  
	grid-column: 2;
    grid-row: 2;
	background:#EE82EE; 	
}

#button_stop:hover {
	background:#D8BFD8;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #D8BFD8, 0 17px 50px 0 #D8BFD8; 
}
 
#button_stop:active {           
  background-color: #D8BFD8;  
  box-shadow: 0 5px #D8BFD8;     
  transform: translateY(5px); 
}


.path_search_controller{
	height:100px;
    width:200px;
	background:#B8860B; 
	outline: none;	
	border: none;
	border-radius: 24px;   
	font-family : Impact;	
	color: black;  
	font-size: 24px;
}

.path_search_controller:hover {
	background:#DAA520;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #daa5208a, 0 17px 50px 0 #daa52098; 
}

.path_search_controller:active {      
	background-color: #DAA520;  
	box-shadow: 0 5px #DAA520;     
	transform: translateY(5px);  
}

 
#button_searching{
	grid-column: 2;
    grid-row: 5;
}


#stop{
	grid-column: 1;
    grid-row: 5;
}



.ssilka{
	color: rgb(255, 255, 255);
	margin-top: 35px;
	grid-row: 2;
	grid-column: 6/8;
	font-size: 25px;
}

