body{
	background: DimGrey url(../images/Star_Wars_Clone.jpg);
	background-repeat: round;
	background-size: 4000px;
	background-attachment: fixed;
}

#write_password{
	position: relative;
}

#password_1
{
	position: absolute;
	color: #D8BFD8;
	font-size: 24px;
	top: 30%;
	left: 5%;
}

#password{
	position: absolute;
	top: 40%;
	height: 40px;
	width: 345px;
	left: 5.5%;
	font-size: 24px;
}

#submitting_password{
	position:absolute;
	top: 50%;
	left: 15%;
	width: 100px;
	height: 40px;
}
