body {background: DimGrey url(../images/Doom.jpg);   
    background-repeat: round;
    background-size: 4000px;
    background-attachment: fixed;
}


div{
    font-size: 60px;
    font-family : joan;
    color:red;
}

