body{
    display: grid;
    grid-template-columns: 10px 300px 200px ;
    grid-template-rows: 50px  80px 80px 80px 30px 70px ;
    grid-gap: 30px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./images/neuron.jpg");
    background-attachment: fixed;
    background-repeat: round;
}

#field{
    grid-row: 2;
    grid-column: 2;
    border: 2px ridge rgb(38, 0, 255);
    background: rgba(255, 255, 255, 0.74);
    cursor:pointer;
}

button{
    height: 80px;
    width: 130px;
    border-radius: 12px;
    font-family : Impact;
    text-align: center;
    font-size: 25px; 
    border: none;
    outline: none;
    cursor: pointer; 
}

#Clear{
    grid-row: 2;
    grid-column: 3;
    color:  rgb(233, 173, 8);
	background: rgb(167, 75, 175);
}

#Clear:active{
    box-shadow: 0 10px 16px 0 rgba(22, 255, 1, 0.555), 0 17px 50px 0 rgba(22, 255, 1, 0.555); 
    background-color: rgb(162, 0, 255);   
    color: rgb(22, 255, 1);   
    transform: translateY(3px);  
}

#Clear:hover {
	background:#DB7093;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #FFB6C1, 0 17px 50px 0 #FFB6C1; 
}



#Scan{
    grid-row: 3;
    grid-column: 3;
    color:  rgb(233, 173, 8);
	background: rgb(114, 74, 189);
}

#Scan:active{
    box-shadow: 0 10px 16px 0 rgba(22, 255, 1, 0.555), 0 17px 50px 0 rgba(22, 255, 1, 0.555); 
    background-color: rgb(255, 0, 242);   
    color:  white;   
    transform: translateY(3px);  
}

#Scan:hover {
	background:#94479b;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #6b0d7e, 0 17px 50px 0 #6b0d7e; 
}


p{
    color:rgb(255, 0, 0);
    font-family : Impact;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.text_draw{
    margin-top: 30px;
    grid-row: 1;
    grid-column: 2;
}

.text_answer{
    grid-row: 5;
    grid-column: 2;
}

#label-color{
    font-family : Impact;
    color: rgb(9, 230, 156);
}

.colors{
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    color:rgb(244, 242, 247);
    cursor: pointer;
    grid-row: 4;
    grid-column: 3;
}


.ssilka{
    color: green;
    grid-row: 1;
    grid-column: 8;
    font-size: 25px;
}


