body{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/Vanaheim.jpg);
    background-repeat: round;
    background-size: 4000px;
    background-attachment: fixed;
}

#field{
    display: grid;
    grid-template-columns: 505px 200px;
    grid-template-rows: 500px 30px;
    grid-gap: 20px;
}


#generation{
    margin-top: 145px;
    margin-left: 62px;
    grid-column: 2;
    grid-row: 1;
    font-family : Impact;
    font-size: 25px;  
    color: rgba(255, 255, 255, 0.952); 
}

#min_path{
    margin-top: 180px;
    margin-left: 62px;
    grid-column: 2;
    grid-row: 1;
    font-family : Impact;
    font-size: 25px;  
    color: rgba(255, 255, 255, 0.952);  
}


#painting{
    grid-column: 1;
    grid-row: 1;
    border: 2px ridge rgb(76, 0, 253);
    background-color: rgba(0, 183, 255, 0.699);
    grid-column: 1;
    grid-row: 1/7;
}

#path{
    grid-column: 1;
    grid-row: 1;
}

button{
    width: 200px;
    height: 100px;
    background:rgba(21, 63, 248, 0.788); 
	outline: none;	
	border-radius: 14px;   
	font-family : Impact;	
	text-align: center;
    text-decoration: none;
	color: rgb(255, 255, 255);    
	font-size: 25px;  	
	cursor: pointer;
}



#button_clear{
    margin-left: 300px;
    grid-column: 1;
    grid-row: 2;
}

#button_clear:hover{
	background: rgba(82, 196, 224, 0.795);                 
	color: rgba(54, 91, 255, 0.952);                       
	box-shadow: 0 10px 10px 0  rgba(82, 196, 224, 0.795), 0 17px 70px 0  rgba(82, 196, 224, 0.795); 
}

.button_clear:active {      
    background-color:rgba(82, 196, 224, 0.795);
    box-shadow: 0 5px rgba(82, 196, 224, 0.795);     
    transform: translateY(5px);  
}



#button_stop{
    margin-left: 60px;
    grid-column: 1;
    grid-row: 2;
}

#button_stop:hover{
	background: rgba(82, 196, 224, 0.795);                 
	color: rgba(54, 91, 255, 0.952);                       
	box-shadow: 0 10px 10px 0  rgba(82, 196, 224, 0.795), 0 17px 70px 0  rgba(82, 196, 224, 0.795); 
}

.button_stop:active {      
    background-color:rgba(82, 196, 224, 0.795);
    box-shadow: 0 5px rgba(82, 196, 224, 0.795);     
    transform: translateY(5px);  
}


#start_genetic_algorithm{
    margin-top: 10px;
    margin-left: 60px;
    grid-column: 2;
    grid-row: 1;
}

#start_genetic_algorithm:hover{
	background: rgba(82, 196, 224, 0.795);                 
	color: rgba(54, 91, 255, 0.952);                       
	box-shadow: 0 10px 10px 0  rgba(82, 196, 224, 0.795), 0 17px 70px 0  rgba(82, 196, 224, 0.795); 
}


.start_genetic_algorithm:active {      
    background-color:rgba(82, 196, 224, 0.795);
    box-shadow: 0 5px rgba(82, 196, 224, 0.795);     
    transform: translateY(5px);  
}


.ssilka{
    color: green;
    grid-row: 1;
    grid-column: 8;
    font-size: 25px;
    }
