body {background:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), DimGrey url(../images/mandalorian.jpg);
    background-repeat: round;
	background-size: 4000px;
    background-attachment: fixed;
}


#Greeting{
	position: absolute;
	top: 5px;
	left: 40%;
	margin-bottom: 50px;
	right: 5%;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 27px;
	color:rgb(224, 127, 16);
}

.menu{
	position: absolute;
	top: 80px;
	left: 3%;
	font-size: 30px;
}

.ssilka{
	color:rgb(224, 127, 16);
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 

