body{
	background: DimGrey url(images/1.jpg);
	background-repeat: round;
	background-size: 4000px;
	background-attachment: fixed;
}

.main_field{
    display: grid;
    grid-template-columns: 300px 190px 120px 80px 370px 20px;
    grid-template-rows: 45px 20px 270px 140px 300px;
    grid-gap: 10px;
}


#map{
	grid-column: 1;
    grid-row: 1/5;
	background:#E6AB3C;
	top: 8px;
	border: 3px solid red;
}

#map2{
	grid-column: 1;
    grid-row: 1/5;
	top: 8px;
	border: 3px solid red;
	cursor:pointer;
}

.start{
	grid-column: 5/6;
    grid-row: 1;
}

.buttons{
	display: grid;
	grid-template-columns: 200px 200px;
    grid-template-rows: 100px  100px;
	grid-gap: 20px;
	grid-column: 4/6;
    grid-row: 3;
}

.button_make{
	color: #BA55D3;
	background: #FFEFD5;
	border: 3px solid #E6E6FA;
}

#button_make{
	height: 30px;
	cursor: pointer;
}

.button_make:active {      
  background-color: "rgb(245, 237, 237)";  
  box-shadow: 0 1px "rgb(245, 237, 237)";     
  transform: translateY(3px);  
}

input[type="number"]{
	border: 1px solid red;
	border-radius: 5px;
	background: #fff0f5 !important;
	outline: none;
	height: 30px;
	width: 160px;
	font-size: 14px;
	font-family : Impact, fantasy;
}

label{
	font-size: 22px;
}


.labelik3{
	height:2.5em;	
}

.labelik3:hover{
	color: blue;
	background:#EE82EE;
}

.button_start:active {      
  background-color: #EE82EE;  
  box-shadow: 0 5px #EE82EE;       
}


.button_start{
	grid-column: 1;
    grid-row: 1;
	height:100px;
    width:200px;
	background:#FF69B4; 
	outline: none;	
	border: none;
	border-radius: 12px;   
	font-family : Impact, fantasy;	
	text-align: center;
	text-decoration: none;
	color: black;  
	font-size: 24px;  	
	cursor: pointer;
	display: inline-block;
	
}

.button_start:hover {
	background: #FFB6C1;                 
	color:  #FFB6C1;                       
	box-shadow: 0 12px 16px 0 #FFB6C1, 0 17px 50px 0 #FFB6C1; 
}

.button_start:active {      
  background-color: #FFB6C1;  
  box-shadow: 0 5px #FFB6C1;     
  transform: translateY(5px);  
}

.button_finish{  
	grid-column: 2;
    grid-row: 1;
	height:100px;
    width:200px;
	background:#FA807A; 
	outline: none;	
	border: #FA807A;
	border-radius: 12px;   
	
	text-align: center;
	text-decoration: none;
	color: black;  
	font-size: 24px;
	font-family : Impact, fantasy;		
	
	cursor: pointer;
	     
	padding: 12 px 28 px;
	display: inline-block;	
}

.button_finish:hover {
	background:#FFA07A;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #FFA07A, 0 17px 50px 0 #FFA07A; 
}

.button_finish:active {      
  background-color: #FFA07A;  
  box-shadow: 0 5px #FFA07A;     
  transform: translateY(5px);  
}

.button_clear{ 
	grid-column: 1;
    grid-row: 2;
	height:100px;
    width:200px;
	background:#FF7F50; 
	outline: none;	
	border: #FF7F50;
	border-radius: 12px;   
	
	text-align: center;
	text-decoration: none;
	color: black;  
	font-size: 24px;   
	font-family : Impact, fantasy;
	
	cursor: pointer;
	     
	padding: 12 px 28 px;
	display: inline-block;	
}

.button_clear:hover {
	background: #FF7F50;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #FF7F50, 0 17px 50px 0 #FF7F50; 
}

.button_clear:active {      
  background-color:#FF7F50;  
  box-shadow: 0 5px #FF7F50;     
  transform: translateY(5px);  
}

.button_stop{  
	grid-column: 2;
    grid-row: 2;
	height:100px;
    width:200px;
	background:#EE82EE; 
	outline: none;	
	border: #EE82EE;
	border-radius: 12px;   
	font-family : Impact, fantasy;
	text-align: center;
	text-decoration: none;
	color: black;  
	font-size: 24px;         
	
	cursor: pointer;
	     
	padding: 12 px 28 px;
	display: inline-block;	
}

.button_stop:hover {
	background:#D8BFD8;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #D8BFD8, 0 17px 50px 0 #D8BFD8; 
}
 
.button_stop:active {      
  background-color: #D8BFD8;  
  box-shadow: 0 5px #D8BFD8;     
  transform: translateY(5px);  
}
 
.button_searching{
	grid-column: 2;
    grid-row: 5;
	height:100px;
    width:200px;
	
	background:#B8860B; 
	outline: none;	
	border: none;
	border-radius: 24px;   
	font-family : Impact;	
	text-align: center;
	text-decoration: none;
	color: black;  
	font-size: 24px;  
	
	
	cursor: pointer;
	     
	
	display: inline-block;
	
}

.button_searcрing:hover {
	background:#DAA520;                 
	color: white;                       
	box-shadow: 0 12px 16px 0 #DAA520, 0 17px 50px 0 #DAA520; 
}

.button_searching:active {      
  background-color: #DAA520;  
  box-shadow: 0 5px #DAA520;     
  transform: translateY(5px);  
}


.ssilka{
	color: rgb(255, 255, 255);
	margin-top: 35px;
	grid-row: 5;
	grid-column: 1;
	font-size: 25px;
}