body{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(images/1.jpg);
    background-repeat: round;
    background-size: 4000px;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: minmax(40px, 1fr) 900px minmax(40px, 1fr);
    grid-template-rows: 70px 500px;
    grid-gap: 20px;
}



.block-buttons{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 200px 1fr 200px  1fr;
    grid-template-rows: 70px;
    grid-gap: 20px;
  }
  
  .buttons{
    width: 200px;
    outline: none;
    border-radius: 14px;
    font-family : Impact;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }


  
  .draw-sector{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 20px 450px;
    grid-gap: 10px;
    grid-template-columns: 900px repeat(6, 1fr);
    margin-bottom: 20px;
  }
  
  .reset {
    grid-column: 2;
    grid-row: 1;
    background: rgba(83, 101, 182, 0.658);
  }

  .start{
    grid-column: 4;
    grid-row: 1;
    background:rgb(82, 114, 49);
  }

  #point_field{
    border:3px solid rgb(7, 91, 139); 
    background-color: #29c2b5a8;
    cursor:pointer;
    grid-column: 1;
    grid-row: 1/7;
  }



  #draw-line{
    border:3px solid rgb(7, 91, 139);
    cursor:pointer;
    grid-column: 1;
    grid-row: 1/7;
  }

 #text{
  grid-column: 1;
  grid-row: 5/7;
  font-family : Impact;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
 }


 .ssilka{
  color: green;
  grid-row: 1;
  grid-column: 4;
  font-size: 20px;
  }
  
