body {
    background:  linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/asgard.jpg);
    background-repeat: round;
    background-size: 4000px;
    background-attachment: fixed;
}

#cluster_field{
    border: 2px ridge rgb(201, 154, 52);
    background-color: rgba(255, 255, 255, 0.74);
    grid-column: 1;
    grid-row: 1/7;
}

#painting{
    border: 2px ridge rgb(201, 154, 52);
    cursor:pointer;
    grid-column: 1;
    grid-row: 1/7;
}

#colors_and_methods{
    border: 2px ridge rgb(201, 154, 52);
    background-color: rgba(255, 255, 255, 0.74);
    grid-column: 1;
    grid-row: 7;
}


.main_field{
    display: grid;
    grid-template-columns: 502px 100px  170px 300px 300px 1fr;
    grid-template-rows: 20px 70px 30px  300px;
    grid-gap: 10px;
}

button{
    background:rgba(201, 154, 52, 0.658); 
	outline: none;	
	border-radius: 14px;   
	font-family : Impact;	
	text-align: center;
    text-decoration: none;
	color: rgb(255, 255, 255);  
	font-size: 25px;  	
	cursor: pointer;
}



#button_start_clustering{
    grid-column: 3;
    grid-row: 2/3;
}

#button_clear{
    width: 100px;
    height: 50px;
}


#button_start_clustering:hover{
	background: rgba(82, 196, 224, 0.795);                 
	color: rgba(201, 154, 52, 0.952);                       
	box-shadow: 0 10px 10px 0  rgba(82, 196, 224, 0.795), 0 17px 70px 0  rgba(82, 196, 224, 0.795); 
}

.button_start_clustering:active {      
    background-color:rgba(82, 196, 224, 0.795);
    box-shadow: 0 5px rgba(82, 196, 224, 0.795);     
    transform: translateY(5px);  
}


#button_clear:hover{
	background: rgba(82, 196, 224, 0.795);                 
	color: rgba(201, 154, 52, 0.952);                       
	box-shadow: 0 10px 10px 0  rgba(82, 196, 224, 0.795), 0 17px 70px 0  rgba(82, 196, 224, 0.795); 
}

.button_clear:active {      
    background-color:rgba(82, 196, 224, 0.795);
    box-shadow: 0 5px rgba(82, 196, 224, 0.795);     
    transform: translateY(5px);  
}


.methods{
    grid-column: 5;
    grid-row: 1/9;
}


#label_choose_methods{
    grid-column: 3/5;
    grid-row: 3;
    font-family: "Times New Roman", Georgia, Serif;
	font-size: 30px;
    color:rgb(255, 255, 255);
}

.buttons_method{
    grid-gap: 30px;
    grid-column: 3/5;
    grid-row: 4;
    
}

.contains_checkbox{
    display: grid;
    grid-template-columns: 25px 220px 150px;
    grid-template-rows: 30px 30px 30px;
    grid-gap: 10px;
    line-height: 1.5;
    padding-left: 2px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    font-size: 25px;
    font-family : Impact;
}

.number_of_clusters_label{
    grid-column: 1/3;
    grid-row: 2;
}

.method_name{
    grid-column: 2/4;
    grid-row: 1;
}


.mode_block{
    grid-column: 1/4;
    grid-row: 3;
}


.method{
    margin-top: 8px;
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.number_of_clusters{
    margin-top: 5px;
    grid-column: 3;
    grid-row: 2;
    outline: none; border: none;
    color: rgba(201, 154, 52, 0.952);   
    height: 25px;
    width: 200px;
    font-size: 17px;
    
}

.number_of_clusters:hover{
    outline: none; border: none;
    color: rgba(201, 154, 52, 0.952);   
    height: 25px;
    width: 200px;
}

.number_of_clusters:active{
    outline: none; border: none;
    color: rgba(201, 154, 52, 0.952);   
    height: 25px;
    width: 200px;
}




select{
    height: 25px;
    outline: none; border: none;
    font-size: 17px;
    color: rgb(201, 154, 52);
}


.ssilka{
	color: rgb(255, 255, 255);
	margin-top: 35px;
	grid-row: 8;
	grid-column: 1 ;
	font-size: 25px;
}










